# Ignore virtual environment
.venv/
venv/

# Ignore Streamlit secrets/configs (optional if you have secrets.toml)
.streamlit/secrets.toml

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.idea/
.vscode/

# Ignore activation scripts or other temp files
activate.txt

# Ignore logs or temp files
*.log
*.tmp